html {
  background: linear-gradient(#3856BF, #E57E67) no-repeat center center/cover;
  height: fit-content;
}

/* Responsive Design */

@media screen and (min-width: 1001px){
  h1 {
    font-size: 60px;
    margin-top: 48px;
  }

  h2 {
    font-size: 20px;
    margin-top: 19px;
  }

  #overlay-text {
    margin-top: 27px;
    font-size: 30px;
  }

  #top-images {
    margin-top: 75px;
    width: 725px;
  }

  #bottom-container {
    width: 725px;
  }

  #top-left {
    padding-bottom: 255px;
    width: 255px;
  }

  #top-right {
    padding-bottom: 218px;
    width: 218px;
  }

  #bottom-left {
    padding-bottom: 292px;
    width: 219px;
  }

  #bottom-right {
    padding-bottom: 360px;
    width: 360px;
  }
}

@media screen and (max-width: 1000px){
  h1 {
    font-size: 6vw;
    margin-top: 5%;
  }

  h2 {
    font-size: 2vw;
    margin-top: 2%;
  }

  #overlay-text {
    margin-top: 4%;
    font-size: 3vw;
  }

  #top-images {
    margin-top: 8%;
    width: 75%;
  }

  #bottom-container {
    width: 75%;
  }

  #top-left {
    padding-bottom: 35%;
    width: 35%;
  }

  #top-right {
    padding-bottom: 30%;
    width: 30%;
  }

  #bottom-left {
    padding-bottom: 40%;
    width: 30%;
  }

  #bottom-right {
    padding-bottom: 50%;
    width: 50%;
  }
}

/* Heading */

h1 {
  color: white;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 800;
  margin-bottom: auto;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  text-align: center;
}

/* Overlay */

#overlay {
  background-color: rgba(0, 0, 0, .5);
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#modal-window {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 1%;
  height: 55%;
  margin: auto;
  max-height: 450px;
  max-width: 690px;
  min-height: 350px;
  min-width: 400px;
  width: 70%;
}

#close {
  cursor: pointer;
  float: right;
  margin-right: 1%;
  margin-top: 1%;
}

#overlay-text {
  color: black;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 800;
  margin-left: 5%;
  text-align: center;
}

#mountain-dew,
#crazy-rich-asians,
#crippling-depression,
#i-hate-this-picture {
  background-position: center;
  background-size: cover;
  height: 70%;
  margin: 3% auto auto auto;
}

#mountain-dew {
  background-image: url(../images/sergey-pesterev-llGiAyYthDw-unsplash.jpg);
  width: 70%;
}

#crazy-rich-asians {
  background-image: url(../images/surface-ZlJmOUFRBfQ-unsplash.jpg);
  width: 30%;
}

#crippling-depression {
  background-image: url(../images/lee-chinyama-6lGiNbAublo-unsplash.jpg);
  width: 30%;
}

#i-hate-this-picture {
  background-image: url(../images/simone-hutsch-8LwKILB2ceI-unsplash.jpg);
  width: 30%;
}

/* Images */

#top-images {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#bottom-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: auto;
}

#bottom-images {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  margin-left: 7%;
  width: 100%;
}

#top-left,
#top-right,
#bottom-left {
  height: 0;
  position: relative;
}

#top-left-image,
#top-right-image,
#bottom-left-image {
  background-position: center;
  background-size: cover;
  border: solid white 5px;
  cursor: pointer;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

#top-left-image:hover .overlay,
#top-right-image:hover .overlay,
#bottom-left-image:hover .overlay,
#bottom-right-image:hover .overlay {
  opacity: .5;
}

#top-left-image {
  background-image: url(../images/surface-ZlJmOUFRBfQ-unsplash.jpg);
  border-radius: 100%;
}

#top-right-image {
  background-image: url(../images/sergey-pesterev-llGiAyYthDw-unsplash.jpg);
}

#bottom-left-image {
  background-image: url(../images/lee-chinyama-6lGiNbAublo-unsplash.jpg);
}

#bottom-right {
  background-color: white;
  clip-path: polygon(50% 35%, 10% 100%, 90% 100%);
  cursor: pointer;
  height: 0;
  margin-bottom: 15%;
  margin-left: 3%;
  position: relative;
}

#bottom-right-triangle {
  clip-path: polygon(50% 35%, 10% 100%, 90% 99.5%);
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 4.875%;
  margin-top: 8.125%;
  overflow: hidden;
  padding-bottom: 90%;
  width: 90%;
}

#bottom-right-image {
  background-image: url(../images/simone-hutsch-8LwKILB2ceI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  transform: rotateY(180deg) rotateZ(-1deg) translateX(2.4%) translateY(-10%);
  width: 100%;
}