html {
  background: linear-gradient(#3856BF, #E57E67) no-repeat center center;
  background-size: cover;
  height: fit-content;
}

@media screen and (min-width: 1001px){
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  .top-left {
    padding-bottom: 255px;
    width: 255px; 
  }

  .top-right {
    padding-bottom: 218px;
    width: 218px; 
  }

  .bottom-left {
    padding-bottom: 292px;
    width: 219px; 
  }

  .bottom-right {
    padding-bottom: 360px;
    width: 360px; 
  }
}

@media screen and (max-width: 1000px){
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 2vw;
  }

  .top-left {
    padding-bottom: 35%;
    width: 35%;
  }

  .top-right {
    padding-bottom: 30%;
    width: 30%;
  }

  .bottom-left {
    padding-bottom: 40%;
    width: 30%;
  }

  .bottom-right {
    padding-bottom: 50%;
    width: 50%;
  }
}

h1 {
  color: white;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 800;
  margin-top: 7%;
  margin-bottom: auto;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 2%;
  text-align: center;
}

.top-images {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  width: 75%;
}

.top-left {
  height: 0;
  position: relative;
}

.top-left-image {
  background-image: url(../images/surface-ZlJmOUFRBfQ-unsplash.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  border: solid white 5px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.top-right {
  height: 0;
  position: relative;
}

.top-right-image {
  background-image: url(../images/sergey-pesterev-llGiAyYthDw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  border: solid white 5px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.bottom-images {
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-around;
  margin-bottom: auto;
  margin-left: 16%;
  margin-right: auto;
  width: 75%;
}

.bottom-left {
  height: 0;
  position: relative;
}

.bottom-left-image {
  background-image: url(../images/lee-chinyama-6lGiNbAublo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  border: solid white 5px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.bottom-right {
  background-color: white;
  clip-path: polygon(50% 35%, 10% 100%, 90% 100%);
  height: 0;
  margin-bottom: 15%;
  margin-left: 3%;
  position: relative;
}

.bottom-right-triangle {
  clip-path: polygon(50% 35%, 10% 100%, 90% 99.5%);
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 4.875%;
  margin-top: 8.125%;
  overflow: hidden;
  padding-bottom: 90%;
  width: 90%;
}

.bottom-right-image {
  background-image: url(../images/simone-hutsch-8LwKILB2ceI-unsplash.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: absolute;
  transform: rotateY(180deg) rotateZ(-1deg) translateX(2.4%) translateY(-10%);
  width: 100%;
}